body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

/* Styling applied to the autocomplete suggestion dropdown in search window */
.autocomplete-suggestions { 
  border: 1px solid #999; 
  background: #FFF; 
  overflow: auto;
}

 .autocomplete-suggestion { 
   padding: 2px 5px; 
   white-space: nowrap; 
   overflow: hidden; 
}

.autocomplete-selected { 
  background: #F0F0F0;
}

.autocomplete-suggestions strong {
  font-weight: normal;
  color: #3399FF; 
}

.autocomplete-group { 
  padding: 2px 5px;
}

.autocomplete-group strong { 
  display: block; 
  border-bottom: 1px solid #000; 
}