{% extends "Generic/base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-10 mx-auto">
      <div class="card">
        <h5 class="card-title alert alert-warning" role="alert">
          <i class="fas fa-exclamation-triangle"></i>&nbsp;&nbsp;&nbsp;Action required</h5>
        <div class="card-body">
          <div class="card-text">
            <p>You need to take the following action before you can exit the Org:</p>
            {% if res_list %}
            <hr>
            <strong>Resources in your name:</strong>
            Re-assign these resources to someone else
            <ul class="pt-2">
              {% for res in res_list %}
              <li><a href="{% url 'Resource:resource-detail' res.pk %}">{{ res.get_name }}</a></li>
              {% endfor %}
            </ul>
            {% endif %}

            {% if res_admin_list %}
            <hr>
            <strong>Resources you manage:</strong>
            Re-assign someone else as admin to these resources.
            <ul class="pt-2">
              {% for res in res_admin_list %}
              <li><a href="{% url 'Resource:resource-detail' res.pk %}">{{ res.get_name }}</a></li>
              {% endfor %}
            </ul>
            {% endif %}

            {% if team_list %}
            <hr>
            <strong>Your teams:</strong>
            Exit from these teams. Exit button can be found under the Settings tab of Team page.
            <ul class="pt-2">
              {% for team in team_list %}
              <li><a href="{% url 'Org:team-detail' team.pk %}">{{ team.get_name }}</a></li>
              {% endfor %}
            </ul>
            {% endif %}

            {% if team_admin_list %}
            <hr>
            <strong>Teams you manage:</strong>
            Remove yourself from the team admin role and assign it to someone else in the team.
            <ul class="pt-2">
              {% for team in team_admin_list %}
              <li><a href="{% url 'Org:team-detail' team.pk %}">{{ team.get_name }}</a></li>
              {% endfor %}
            </ul>
            {% endif %}

            {% if org_admin_list %}
            <hr>
            <strong>Orgs you manage:</strong>
            Remove yourself from the admin role of these Orgs and assign it to someone else in the Org.
            <ul class="pt-2">
              {% for org in org_admin_list %}
              <li><a href="{% url 'Org:org-detail' org.pk %}">{{ org.get_name }}</a></li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
        </div>
        <div class="card-footer">
          <a href="{% url 'Org:org-exit' exit_org.pk %}" class="btn btn-primary">Refresh</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}