{% extends "Generic/base.html" %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col-8 mx-auto">
        <div class="card" >
          <div class="card-title">
           {% if isError %}
              <h5 class="alert alert-danger" role="alert">
                <i class="fas fa-times-circle"></i>&nbsp;&nbsp;&nbsp;Error
              </h5>
            {% else %}
              <h5 class="alert alert-success" role="alert">
                <i class="fa fa-check-circle " aria-hidden=true> </i> Success
              </h5>
            {% endif %}
          </div>
          <div class="card-body pt-0">
            <p class="card-text">
              {% if isError %}
                {{ err_str }}
              {% else %}
                {{ success_str }}
              {% endif %}
            </p>
          </div>
          <div class="card-footer">
            <a href="{% url 'home' %}" class="btn btn-primary">Home</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}