{% extends "Generic/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<!-- TODO : do we need row and col divs here? -->
<div class="content-section" style="width:500px; margin:0 auto;">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4" style="text-align: center">Sign in</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group" style="text-align: center">
            <button class="btn btn-outline-info" type="submit">Login</button>
        </div>
    </form>
    <p style="text-align: center"> Or</p>
    <!-- TODO : bring in a nice google sign in button here -->
    <div class="social-login" style="text-align: center">
        <button class="btn google-btn social-btn" type="button">
            <span><i class="fab fa-google-plus-g"></i> <a href="{% url 'social:begin' 'google-oauth2' %}">Sign in with Google+</a></span>
        </button>
    </div>
    <br>
    <div class="border-top pt-3">
        <small class="text-muted">
            Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
        </small>
    </div>
</div>
{% endblock content %}