{% extends 'Generic/base.html' %}
{% block content %}


<div class="row">
    <div class="col-md-12">
        <form class="form-inline" action="/search/" method="get">
            <input class="form-control mr-sm-2 col-8" type="search" placeholder="What are you looking for ?" aria-label="Search"  name="q" id="q" autocomplete="off">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</div>


{% if query %}
    <!-- Display the search results -->
    <div class="row">
        <div class="col-md-6 col-xs-6">
                Search result for: <label> {{query}} </label>
        </div>
    </div>

    <div>
    {% if  page_obj.object_list %}
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Current User</th>
                    <th>Device Admin</th>
                </tr>
            {% for result in page_obj.object_list %}
                <tr>
                    <td><a href="{{ result.object.get_absolute_url }}">{{ result.object.name }}</a></td>
                    <td>{{ result.object.current_user.name }}</td>
                    <td>{{ result.object.device_admin.name }}</td>
                </tr>
            {% endfor %}
            </table>
 
        {% if is_paginated %}
            <ul class="pagination pull-right">
            {% if page_obj.has_previous %}
                <li><a href="?q={{ query }}&page={{ page_obj.previous_page_number }}">«</a></li>
            {% else %}
                <li class="disabled"><span>«</span></li>
            {% endif %}
            {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                <li><a href="?q={{ query }}&page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li><a href="?q={{ query }}&page={{ page_obj.next_page_number }}">»</a></li>
            {% else %}
                <li class="disabled"><span>»</span></li>
            {% endif %}
            </ul>
        {% endif %}
    {% else %}
        <p> Sorry, no result found for the search term  <strong>{{query}} </strong></p>
        {% if spell_suggestion %}
            <p> Maybe try: {{ spell_suggestion }}  </p>
        {% endif %}
    {% endif %}
    </div>
{% endif %}  <!-- if query -->
{% endblock content %}


